<!DOCTYPE html>
<html>
  <head>
    <title>Play And Create</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <center>
    <div class="container">
    <%= render 'layouts/promotion' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    </center>
  </body>
</html>
