<h1>We are PAC!</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div>
<%= link_to image_tag("161124_PAC_logo_color_03.png", alt: "PAC_works", width: 1024),
            '#' %>
</div>

<section>
<ul class = "slider_list">
<li><%= link_to image_tag("PAC_poster_A0_2_all.png", alt: "PAC_works", width: 512),
            '#' %></li>
<li><%= link_to image_tag("PAC_poster_A4_2_2d3d.png", alt: "PAC_works", width: 512),
            '#' %></li>
<li><%= link_to image_tag("PAC_poster_A4_2_movie.png", alt: "PAC_works", width: 512),
            '#' %></li>
<li><%= link_to image_tag("PAC_poster_A4_2_planner.png", alt: "PAC_works", width: 512),
            '#' %></li>
<li><%= link_to image_tag("PAC_poster_A4_2_program.png", alt: "PAC_works", width: 512),
            '#' %></li>
<li><%= link_to image_tag("PAC_poster_A4_2_sound.png", alt: "PAC_works", width: 512),
            '#' %></li>
</ul>
</section>
<h1>Twitter</h1>
<a href="https://twitter.com/playacreate" class="twitter-follow-button" data-show-count="false">Follow @playacreate</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<a class="twitter-timeline" href="https://twitter.com/playacreate">Tweets by playacreate</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>