<!DOCTYPE html>
<html lang="jp">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <meta  name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    </head>
    <body class="background">
      <header>
      <nav  class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to "自宅和風庭園", pages_home_url, id: "logo", class: "navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><%= link_to "ようこそ", pages_home_url, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "自家栽培", pages_works_url, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "自己紹介", pages_profile_url, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "アクセス", pages_access_url, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "お問い合わせ", pages_contact_url, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "リンク", pages_link_url, class: "nav-link" %></li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          </div>
        </nav>
    </header>
    <div class="container content">
      <%= yield %>
    </div>
    <footer class="footer bg-faded">
      <div class="container">
        <p class="text-muted">CopyRight (c) takerunomikoto 2017</p>
      </div>
    </footer>
  </body>
</html>